<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sohail.spoonfulofhyderabad">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/listtheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCUJVi64scPL9KHGeTmzRsThORiQwEdjAo" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".MainActivity"
            android:theme="@style/listtheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DetailActivity"
            android:theme="@style/detailTheme" />


        <activity
            android:name=".CouponActivity"
            android:theme="@style/listtheme" />

        <receiver
            android:name=".GeofenceBroadcastReceiver"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".GeofenceTransitionsJobIntentService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity android:name=".WebView_Activity" />
        <activity android:name=".Get_Started_Activity" />
        <activity android:name=".Category_Viewer_Activity" />
        <activity android:name=".BudgetFinderActivity"></activity>
    </application>

</manifest>